.container{
  display: flex;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
}

.caixa{
  background-color: rgb(75, 0, 141);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column  ;
  border-radius: 15px;
  border-width: 2px;
  gap: 15px;
  width: 400px;
  height: 300px;
}

.title{
  color: rgb(255, 255, 255);
  font-size: 32px;
  padding-bottom: 40px;
} 

input{
  border-radius: 10px;
  background-color: rgb(115, 4, 174);
  width: 200px;
  height: 23px;
  border: 1px solid #4d4d4d00;
  outline: none;
  justify-items: center;
}

.buttonCadastrar{
  border-radius: 7px;
  background-color: rgb(145, 3, 222);
  color: #ffffff;
  width: 100px;
  height: 30px;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.buttonCadastrar:hover{
  opacity: 0.8;
}

.card{
  display: flex;
  justify-content: space-between;
  background-color: rgb(75, 0, 141);
  margin-top: 40px;
  color: #ffffff;
  width: 400px;
  height: 90px;
  align-items: center;
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

span{
  font-weight: normal;
}

.excluir{
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: transparent;
}

.excluir:hover{
  width: 28px;
  height: 28px;
  
}
